body {
	background-color: white;
	margin: auto;
}

header {
	text-align: center;
}

#book-list {
	text-align: center;
	margin: auto;
	height: 100%;
	width: 80%;
}

#chap-list {
	text-align: center;
	margin: auto;
	height: 100%;
	width: 80%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li a {
	text-decoration: none;
	color: black;
}
li {
	color: black;
}

a:hover {
	border-bottom: #000080 1px solid;
}

#content {
	margin: auto;
	height: 100%;
	width: 80%;
}

#next-button {
	float: right;
	padding: 5px;
	color: red;
}

#next-button: a {
	text-decoration: none;
}

#prev-button {
	float: left;
	padding: 5px;
	color: red;
}

#prev-button: a {
	text-decoration: none;
}

footer {
	text-align: center;
}

#chapters {
	display: inline-block;
	margin: 0 10px;
}